In [11]:
import pandas as pd
from basketball_reference_scraper.teams import get_roster

In [12]:
f=open("Team_Name.txt","r")
lines=f.readlines()
result=[]
for x in lines:
    result.append(x.split(':')[1])
f.close()

In [13]:
clean_teamlist = list(map(lambda each:each.strip("\n"), result))
clean_teamlist = [x.strip(' ') for x in clean_teamlist]
clean_teamlist

['ATL',
 'SLH',
 'MIL',
 'TCB',
 'BOS',
 'BRK',
 'NJN',
 'CHI',
 'CHH',
 'CHO',
 'CHA',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'FWP',
 'GSW',
 'SFW',
 'PHI',
 'HOU',
 'IND',
 'LAC',
 'SDC',
 'BUF',
 'LAL',
 'MIN',
 'MEM',
 'VAN',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NOK',
 'NOH',
 'NYK',
 'OKC',
 'SEA',
 'ORL',
 'PHI',
 'SYR',
 'PHO',
 'POR',
 'SAC',
 'KCK',
 'KCK',
 'CIN',
 'ROR',
 'SAS',
 'TOR',
 'UTA',
 'NOJ',
 'WAS',
 'WAS',
 'CAP',
 'BAL',
 'CHI',
 'CHI',
 'AND',
 'CHI',
 'IND',
 'SRS',
 'SLB',
 'WAS',
 'WAT']

In [14]:
frames = []
y=[]

for counter, x in enumerate(clean_teamlist):
    try:
        globals()["df"+str(counter)] = get_roster(x,2020)
        frames.append(globals()["df"+str(counter)])
        y.append(str(x))
    except:
        pass

results = pd.concat(frames)
results

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,95,DeAndre' Bembry,SG,6-5,210,1994-07-04,US,3,Saint Joseph's
1,4,Charlie Brown,SG,6-6,199,1997-02-02,US,R,Saint Joseph's
2,15,Vince Carter,PF,6-6,220,1977-01-26,US,21,UNC
3,20,John Collins,PF,6-9,235,1997-09-23,US,2,Wake Forest
4,33,Allen Crabbe,SG,6-5,212,1992-04-09,US,6,California
...,...,...,...,...,...,...,...,...,...
18,14,Ish Smith,PG,6-0,175,1988-07-05,US,9,Wake Forest
19,4,Isaiah Thomas,PG,5-9,185,1989-02-07,US,8,Washington
20,7,Jarrod Uthoff,PF,6-9,221,1993-05-19,US,1,Iowa
21,21,Moritz Wagner,C,6-11,245,1997-04-26,DE,1,Michigan
22,19,Johnathan Williams,PF,6-9,228,1995-05-22,US,1,"Missouri, Gonzaga"

In [5]:
y

['ATL',
 'MIL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'PHI',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MIN',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'WAS',
 'CHI',
 'CHI',
 'CHI',
 'IND',
 'WAS']