In [1]:
pip install basketball-reference-scraper==v1.0.1

Requirement already satisfied: basketball-reference-scraper==v1.0.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: bs4==0.0.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (0.0.1)
Requirement already satisfied: soupsieve==1.9.5 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.9.5)
Requirement already satisfied: pandas==0.25.3 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (0.25.3)
Requirement already satisfied: python-dateutil==2.8.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (2.8.1)
Requirement already satisfied: beautifulsoup4==4.8.2 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (4.8.2)
Requirement already satisfied: lxml==4.4.2 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (4.4.2)
Requirement already satisfied: requests==2.22.0 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (2.22.0)
Requirement already satisfied: pytz==2019.3 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (2019.3)
Requirement already satisfied: numpy==1.18.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.18.1)
Requirement already satisfied: six==1.13.0 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.13.0)
Requirement already satisfied: soupsieve==1.9.5 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.9.5)
Requirement already satisfied: beautifulsoup4==4.8.2 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (4.8.2)
Requirement already satisfied: python-dateutil==2.8.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (2.8.1)
Requirement already satisfied: numpy==1.18.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.18.1)
Requirement already satisfied: pytz==2019.3 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (2019.3)
Requirement already satisfied: six==1.13.0 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from basketball-reference-scraper==v1.0.1) (1.13.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->basketball-reference-scraper==v1.0.1) (1.25.11)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->basketball-reference-scraper==v1.0.1) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->basketball-reference-scraper==v1.0.1) (2020.11.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/mengli/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->basketball-reference-scraper==v1.0.1) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from basketball_reference_scraper.teams import get_roster

In [3]:
f=open("Team_Name.txt","r")
lines=f.readlines()
result=[]
for x in lines:
    result.append(x.split(':')[1])
f.close()

In [4]:
clean_teamlist = list(map(lambda each:each.strip("\n"), result))
clean_teamlist = [x.strip(' ') for x in clean_teamlist]
clean_teamlist

['ATL',
 'SLH',
 'MIL',
 'TCB',
 'BOS',
 'BRK',
 'NJN',
 'CHI',
 'CHH',
 'CHO',
 'CHA',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'FWP',
 'GSW',
 'SFW',
 'PHI',
 'HOU',
 'IND',
 'LAC',
 'SDC',
 'BUF',
 'LAL',
 'MIN',
 'MEM',
 'VAN',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NOK',
 'NOH',
 'NYK',
 'OKC',
 'SEA',
 'ORL',
 'PHI',
 'SYR',
 'PHO',
 'POR',
 'SAC',
 'KCK',
 'KCK',
 'CIN',
 'ROR',
 'SAS',
 'TOR',
 'UTA',
 'NOJ',
 'WAS',
 'WAS',
 'CAP',
 'BAL',
 'CHI',
 'CHI',
 'AND',
 'CHI',
 'IND',
 'SRS',
 'SLB',
 'WAS',
 'WAT']

In [11]:
frames = []
y=[]

for counter, t in enumerate(clean_teamlist):
    try:
        globals()["df"+str(counter)] = get_roster(t,2020)
        frames.append(globals()["df"+str(counter)])
        y.append(str(t))
    except:
        pass

results = pd.concat(frames)
results

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,95,DeAndre' Bembry,SG,6-5,210,1994-07-04,US,3,Saint Joseph's
1,4,Charlie Brown,SG,6-6,199,1997-02-02,US,R,Saint Joseph's
2,15,Vince Carter,PF,6-6,220,1977-01-26,US,21,UNC
3,20,John Collins,PF,6-9,235,1997-09-23,US,2,Wake Forest
4,33,Allen Crabbe,SG,6-5,212,1992-04-09,US,6,California
...,...,...,...,...,...,...,...,...,...
18,14,Ish Smith,PG,6-0,175,1988-07-05,US,9,Wake Forest
19,4,Isaiah Thomas,PG,5-9,185,1989-02-07,US,8,Washington
20,7,Jarrod Uthoff,PF,6-9,221,1993-05-19,US,1,Iowa
21,21,Moritz Wagner,C,6-11,245,1997-04-26,DE,1,Michigan
22,19,Johnathan Williams,PF,6-9,228,1995-05-22,US,1,"Missouri, Gonzaga"

In [16]:
teams=['ATL','MIL']

ATL = get_roster('ATL',2020)
MIL = get_roster('MIL',2020)
result2 = pd.concat([ATL,MIL], keys=teams)
result2

        NUMBER                  PLAYER POS HEIGHT  WEIGHT BIRTH_DATE  \
ATL 0       95         DeAndre' Bembry  SG    6-5     210 1994-07-04
    1        4           Charlie Brown  SG    6-6     199 1997-02-02
    2       15            Vince Carter  PF    6-6     220 1977-01-26
    3       20            John Collins  PF    6-9     235 1997-09-23
    4       33            Allen Crabbe  SG    6-5     212 1992-04-09
    5       14          Dewayne Dedmon   C    7-0     245 1989-08-12
    6       24          Bruno Fernando   C    6-9     240 1998-08-15
    7        0         Brandon Goodwin  PG    6-0     180 1995-10-02
    8        2          Treveon Graham  SF    6-5     219 1993-10-28
    9        3           Kevin Huerter  SG    6-7     190 1998-08-27
    10      12         De'Andre Hunter  SF    6-7     225 1997-12-02
    11      30            Damian Jones   C   6-11     245 1995-06-30
    12      25                Alex Len   C    7-0     250 1993-06-16
    13       5           Jabari Parker  PF    6-8     245 1995-03-15
    14      31        Chandler Parsons  PF    6-9     230 1988-10-25
    15      22             Cam Reddish  SF    6-8     218 1999-09-01
    16       0             Jeff Teague  PG    6-3     195 1988-06-10
    17       1             Evan Turner  SG    6-6     220 1988-10-27
    18       8          Tyrone Wallace  SG    6-5     198 1994-06-10
    19       2             Paul Watson  SF    6-7     215 1994-12-30
    20      11              Trae Young  PG    6-1     180 1998-09-19
MIL 0       34   Giannis Antetokounmpo  PF   6-11     242 1994-12-06
    1       43  Thanasis Antetokounmpo  SF    6-6     219 1992-07-18
    2       17           Dragan Bender   C    7-0     225 1997-11-17
    3        6            Eric Bledsoe  PG    6-1     214 1989-12-09
    4       23          Sterling Brown  SF    6-5     219 1995-02-10
    5       24         Pat Connaughton  SG    6-5     209 1993-01-06
    6        0        Donte DiVincenzo  SG    6-4     203 1997-01-31
    7        3             George Hill  PG    6-3     188 1986-05-04
    8        7         Ersan Ä°lyasova  PF    6-9     235 1987-05-15
    9       26             Kyle Korver  SF    6-7     212 1981-03-17
    10      11             Brook Lopez   C    7-0     282 1988-04-01
    11      42             Robin Lopez   C    7-0     281 1988-04-01
    12      15             Frank Mason  PG   5-11     190 1994-04-03
    13       9         Wesley Matthews  SG    6-4     220 1986-10-14
    14      22         Khris Middleton  SF    6-7     222 1991-08-12
    15      20         Marvin Williams  PF    6-8     237 1986-06-19
    16       5             D.J. Wilson  PF   6-10     231 1996-02-19

       NATIONALITY EXPERIENCE                              COLLEGE
ATL 0           US          3                       Saint Joseph's
    1           US          R                       Saint Joseph's
    2           US         21                                  UNC
    3           US          2                          Wake Forest
    4           US          6                           California
    5           US          6                                  USC
    6           AO          R                             Maryland
    7           US          1  Central Florida, Florida Gulf Coast
    8           US          3                                  VCU
    9           US          1                             Maryland
    10          US          R                             Virginia
    11          US          3                           Vanderbilt
    12          UA          6                             Maryland
    13          US          5                                 Duke
    14          US          8                              Florida
    15          US          R                                 Duke
    16          US         10                          Wake Forest
    17          US          9                           Ohio State
    18          US          2                           California
    19          US          R                         Fresno State
    20          US          1                             Oklahoma
MIL 0           GR          6                                  NaN
    1           GR          1                                  NaN
    2           BA          3                                  NaN
    3           US          9                             Kentucky
    4           US          2                                  SMU
    5           US          4                           Notre Dame
    6           US          1                            Villanova
    7           US         11                                IUPUI
    8           TR         11                                  NaN
    9           US         16                            Creighton
    10          US         11                             Stanford
    11          US         11                             Stanford
    12          US          2                               Kansas
    13          US         10                            Marquette
    14          US          7                            Texas A&M
    15          US         14                                  UNC
    16          US          2                             Michigan

In [13]:
y

['ATL',
 'MIL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'PHI',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MIN',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'WAS',
 'CHI',
 'CHI',
 'CHI',
 'IND',
 'WAS']

In [ ]:
 cha cho pho phi