In [118]:
import pandas as pd
from basketball_reference_scraper.teams import get_roster

In [119]:
f=open("Team_Name.txt","r")
lines=f.readlines()
result=[]
for x in lines:
    result.append(x.split(':')[1])
f.close()

In [120]:
clean_teamlist = list(map(lambda each:each.strip("\n"), result))
clean_teamlist = [x.strip(' ') for x in clean_teamlist]
clean_teamlist

['ATL',
 'SLH',
 'MIL',
 'TCB',
 'BOS',
 'BRK',
 'NJN',
 'CHI',
 'CHH',
 'CHO',
 'CHA',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'FWP',
 'GSW',
 'SFW',
 'PHI',
 'HOU',
 'IND',
 'LAC',
 'SDC',
 'BUF',
 'LAL',
 'MIN',
 'MEM',
 'VAN',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NOK',
 'NOH',
 'NYK',
 'OKC',
 'SEA',
 'ORL',
 'PHI',
 'SYR',
 'PHO',
 'POR',
 'SAC',
 'KCK',
 'KCK',
 'CIN',
 'ROR',
 'SAS',
 'TOR',
 'UTA',
 'NOJ',
 'WAS',
 'WAS',
 'CAP',
 'BAL',
 'CHI',
 'CHI',
 'AND',
 'CHI',
 'IND',
 'SRS',
 'SLB',
 'WAS',
 'WAT']

In [123]:
frames = []
y=[]

for counter, x in enumerate(clean_teamlist):
    try:
        globals()["df"+str(counter)] = get_roster(x,2020)
        frames.append(globals()["df"+str(counter)])
        y.append(str(x))
    except:
        pass

results = pd.concat(frames)
results

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,95,DeAndre' Bembry,SG,6-5,210,1994-07-04,US,3,Saint Joseph's
1,4,Charlie Brown,SG,6-6,199,1997-02-02,US,R,Saint Joseph's
2,15,Vince Carter,PF,6-6,220,1977-01-26,US,21,UNC
3,20,John Collins,PF,6-9,235,1997-09-23,US,2,Wake Forest
4,33,Allen Crabbe,SG,6-5,212,1992-04-09,US,6,California
...,...,...,...,...,...,...,...,...,...
18,14,Ish Smith,PG,6-0,175,1988-07-05,US,9,Wake Forest
19,4,Isaiah Thomas,PG,5-9,185,1989-02-07,US,8,Washington
20,7,Jarrod Uthoff,PF,6-9,221,1993-05-19,US,1,Iowa
21,21,Moritz Wagner,C,6-11,245,1997-04-26,DE,1,Michigan
22,19,Johnathan Williams,PF,6-9,228,1995-05-22,US,1,"Missouri, Gonzaga"

In [78]:
df_name = ['df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 
           'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20',
          'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30']

In [50]:
#frame = []
df = pd.DataFrame()

for t in clean_teamlist:
        try:
            df = get_roster(t,2020)
            result = pd.concat(df, keys=t)
        except:
            pass
df

# result = pd.concat(df_name, keys=clean_teamlist)
# result

Empty DataFrame
Columns: []
Index: []

In [ ]:
df_name

In [ ]:
frames = [df,df1]
teamlist = ['ATL','MIL']
result = pd.concat(frames, keys=teamlist)
result

In [ ]:
get_roster(ATL,2020)

In [ ]:
result = pd.concat(frames, keys=clean_teamlist)

In [4]:
df= get_roster('ATL',2020)

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,95,DeAndre' Bembry,SG,6-5,210,1994-07-04,US,3,Saint Joseph's
1,4,Charlie Brown,SG,6-6,199,1997-02-02,US,R,Saint Joseph's
2,15,Vince Carter,PF,6-6,220,1977-01-26,US,21,UNC
3,20,John Collins,PF,6-9,235,1997-09-23,US,2,Wake Forest
4,33,Allen Crabbe,SG,6-5,212,1992-04-09,US,6,California
5,14,Dewayne Dedmon,C,7-0,245,1989-08-12,US,6,USC
6,24,Bruno Fernando,C,6-9,240,1998-08-15,AO,R,Maryland
7,0,Brandon Goodwin,PG,6-0,180,1995-10-02,US,1,"Central Florida, Florida Gulf Coast"
8,2,Treveon Graham,SF,6-5,219,1993-10-28,US,3,VCU
9,3,Kevin Huerter,SG,6-7,190,1998-08-27,US,1,Maryland
10,12,De'Andre Hunter,SF,6-7,225,1997-12-02,US,R,Virginia
11,30,Damian Jones,C,6-11,245,1995-06-30,US,3,Vanderbilt
12,25,Alex Len,C,7-0,250,1993-06-16,UA,6,Maryland
13,5,Jabari Parker,PF,6-8,245,1995-03-15,US,5,Duke
14,31,Chandler Parsons,PF,6-9,230,1988-10-25,US,8,Florida
15,22,Cam Reddish,SF,6-8,218,1999-09-01,US,R,Duke
16,0,Jeff Teague,PG,6-3,195,1988-06-10,US,10,Wake Forest
17,1,Evan Turner,SG,6-6,220,1988-10-27,US,9,Ohio State
18,8,Tyrone Wallace,SG,6-5,198,1994-06-10,US,2,California
19,2,Paul Watson,SF,6-7,215,1994-12-30,US,R,Fresno State
20,11,Trae Young,PG,6-1,180,1998-09-19,US,1,Oklahoma

In [38]:
df1=get_roster(teamlist,2020)

ValueError: No tables found

In [36]:
frames = [df,df1]
teamlist = ['ATL','MIL']
result = pd.concat(frames, keys=clean_teamlist)
result

           NUMBER               PLAYER POS HEIGHT  WEIGHT BIRTH_DATE  \
NUMBER 0        3         Bradley Beal  SG    6-3     207 1993-06-28
       1       42      DÄvis BertÄns  PF   6-10     225 1992-11-12
       2       17          Isaac Bonga  SF    6-8     180 1999-11-08
       3        6           Troy Brown  SF    6-6     215 1999-07-28
       4       13        Thomas Bryant   C   6-10     248 1997-07-31
       5        9        Chris Chiozza  PG   5-11     175 1995-11-21
       6       22         Jerian Grant  SG    6-4     205 1992-10-09
       7        8        Rui Hachimura  PF    6-8     230 1998-02-08
       8       28          Ian Mahinmi   C   6-11     262 1986-11-05
       9       24     Garrison Mathews  SG    6-5     215 1996-10-24
       10      52         Jordan McRae  SG    6-5     179 1991-03-28
       11      34           C.J. Miles  SF    6-6     220 1987-03-18
       12       5       Shabazz Napier  PG    6-0     175 1991-07-14
       13      18  AnÅ¾ejs PaseÄÅ†iks   C    7-1     229 1995-12-20
       14      20          Gary Payton  SF    6-3     190 1992-12-01
       15      12      Jerome Robinson  SG    6-4     190 1997-02-22
       16       5      Justin Robinson  PG    6-1     195 1997-10-12
       17       1    Admiral Schofield  PF    6-5     241 1997-03-30
       18      14            Ish Smith  PG    6-0     175 1988-07-05
       19       4        Isaiah Thomas  PG    5-9     185 1989-02-07
       20       7        Jarrod Uthoff  PF    6-9     221 1993-05-19
       21      21        Moritz Wagner   C   6-11     245 1997-04-26
       22      19   Johnathan Williams  PF    6-9     228 1995-05-22
PLAYER 0       22        Deandre Ayton   C   6-11     250 1998-07-23
       1       46          Aron Baynes   C   6-10     260 1986-12-09
       2       43         Jonah Bolden   C    6-8     220 1996-01-02
       3        1         Devin Booker  SG    6-5     206 1996-10-30
       4       25        Mikal Bridges  SF    6-6     209 1996-08-30
       5        4         Jevon Carter  PG    6-1     200 1995-09-14
       6       14        Cheick Diallo   C    6-8     219 1996-09-13
       7       12         Jared Harper  PG   5-11     175 1997-09-14
       8       10            Ty Jerome  SG    6-5     195 1997-07-08
       9       23      Cameron Johnson  PF    6-8     210 1996-03-03
       10      16        Tyler Johnson  PG    6-3     186 1992-05-07
       11       8       Frank Kaminsky   C    7-0     240 1993-04-04
       12       0         Jalen Lecque  SG    6-3     185 2000-06-13
       13       2           Elie Okobo  PG    6-3     190 1997-10-23
       14       3          Kelly Oubre  SF    6-7     203 1995-12-09
       15      41          Tariq Owens  PF   6-10     205 1995-06-30
       16      15        Cameron Payne  SG    6-3     190 1994-08-08
       17      11          Ricky Rubio  PG    6-3     190 1990-10-21
       18      20        Dario Å ariÄ‡  PF   6-10     225 1994-04-08

          NATIONALITY EXPERIENCE                            COLLEGE
NUMBER 0           US          7                            Florida
       1           LV          3                                NaN
       2           DE          1                                NaN
       3           US          1                             Oregon
       4           US          2                            Indiana
       5           US          1                            Florida
       6           US          4                         Notre Dame
       7           JP          R                            Gonzaga
       8           FR         11                                NaN
       9           US          R                           Lipscomb
       10          US          3                          Tennessee
       11          US         14                                NaN
       12          US          5                              UConn
       13          LV          R                                NaN
       14          US          3                       Oregon State
       15          US          1                     Boston College
       16          US          R                      Virginia Tech
       17          GB          R                          Tennessee
       18          US          9                        Wake Forest
       19          US          8                         Washington
       20          US          1                               Iowa
       21          DE          1                           Michigan
       22          US          1                  Missouri, Gonzaga
PLAYER 0           BS          1                            Arizona
       1           NZ          7                   Washington State
       2           AU          1                               UCLA
       3           US          4                           Kentucky
       4           US          1                          Villanova
       5           US          1                      West Virginia
       6           ML          3                             Kansas
       7           US          R                             Auburn
       8           US          R                           Virginia
       9           US          R                          Pitt, UNC
       10          US          5                       Fresno State
       11          US          4                          Wisconsin
       12          US          R                                NaN
       13          FR          1                                NaN
       14          US          4                             Kansas
       15          US          R  Tennessee, St. John's, Texas Tech
       16          US          4                       Murray State
       17          ES          8                                NaN
       18          HR          3                                NaN

NameError: name 'ATL' is not defined

In [45]:
clean_teamlist

['NUMBER',
 'PLAYER',
 'POS',
 'HEIGHT',
 'WEIGHT',
 'BIRTH_DATE',
 'NATIONALITY',
 'EXPERIENCE',
 'COLLEGE']

In [68]:

teamlist

['ATL', 'MIL']

            NUMBER           PLAYER POS HEIGHT  WEIGHT BIRTH_DATE NATIONALITY  \
NUMBER  0       95  DeAndre' Bembry  SG    6-5     210 1994-07-04          US
        1        4    Charlie Brown  SG    6-6     199 1997-02-02          US
        2       15     Vince Carter  PF    6-6     220 1977-01-26          US
        3       20     John Collins  PF    6-9     235 1997-09-23          US
        4       33     Allen Crabbe  SG    6-5     212 1992-04-09          US
...            ...              ...  ..    ...     ...        ...         ...
COLLEGE 16       0      Jeff Teague  PG    6-3     195 1988-06-10          US
        17       1      Evan Turner  SG    6-6     220 1988-10-27          US
        18       8   Tyrone Wallace  SG    6-5     198 1994-06-10          US
        19       2      Paul Watson  SF    6-7     215 1994-12-30          US
        20      11       Trae Young  PG    6-1     180 1998-09-19          US

           EXPERIENCE         COLLEGE
NUMBER  0           3  Saint Joseph's
        1           R  Saint Joseph's
        2          21             UNC
        3           2     Wake Forest
        4           6      California
...               ...             ...
COLLEGE 16         10     Wake Forest
        17          9      Ohio State
        18          2      California
        19          R    Fresno State
        20          1        Oklahoma

[189 rows x 9 columns]