In [1]:
import pandas as pd

In [2]:
df = pd.read_json('Resources/winloss_by_teams.json')
df

,TeamName,League,Season,Division,Franchise,Team,W,L,%
0,NBAWashington Capitols,NBA,(1946-47),Eastern Division,Washington Capitols,WAS,49,11,81.70%
1,NBAGolden State Warriors,NBA,(1946-47),Eastern Division,Golden State Warriors,PHI,35,25,58.30%
2,NBANew York Knicks,NBA,(1946-47),Eastern Division,New York Knicks,NYK,33,27,55.00%
3,NBAProvidence Steam Rollers,NBA,(1946-47),Eastern Division,Providence Steam Rollers,PRO,28,32,46.70%
4,NBABoston Celtics,NBA,(1946-47),Eastern Division,Boston Celtics,BOS,22,38,36.70%
...,...,...,...,...,...,...,...,...,...
1539,NBAHouston Rockets,NBA,(2019-20),Southwest Division,Houston Rockets,HOU,44,28,61.10%
1540,NBADallas Mavericks,NBA,(2019-20),Southwest Division,Dallas Mavericks,DAL,43,32,57.30%
1541,NBAMemphis Grizzlies,NBA,(2019-20),Southwest Division,Memphis Grizzlies,MEM,34,39,46.60%
1542,NBASan Antonio Spurs,NBA,(2019-20),Southwest Division,San Antonio Spurs,SAS,32,39,45.10%
1543,NBANew Orleans Pelicans,NBA,(2019-20),Southwest Division,New Orleans Pelicans,NOP,30,42,41.70%

In [3]:
df2 = pd.read_json('Resources/player_per_game_stats.json')
df2

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26.0,OKC,63.0,63.0,26.7,4.5,7.6,.592,...,.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
1,Bam Adebayo,PF,22.0,MIA,72.0,72.0,33.6,6.1,11.0,.557,...,.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
2,LaMarcus Aldridge,C,34.0,SAS,53.0,53.0,33.1,7.4,15.0,.493,...,.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,Kyle Alexander,C,23.0,MIA,2.0,0.0,6.5,0.5,1.0,.500,...,,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0
4,Nickeil Alexander-Walker,SG,21.0,NOP,47.0,1.0,12.6,2.1,5.7,.368,...,.676,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,Trae Young,PG,21.0,ATL,60.0,60.0,35.3,9.1,20.8,.437,...,.860,0.5,3.7,4.3,9.3,1.1,0.1,4.8,1.7,29.6
673,Cody Zeller,C,27.0,CHO,58.0,39.0,23.1,4.3,8.3,.524,...,.682,2.8,4.3,7.1,1.5,0.7,0.4,1.3,2.4,11.1
674,Tyler Zeller,C,30.0,SAS,2.0,0.0,2.0,0.5,2.0,.250,...,,1.5,0.5,2.0,0.0,0.0,0.0,0.0,0.0,1.0
675,Ante Å½iÅ¾iÄ‡,C,23.0,CLE,22.0,0.0,10.0,1.9,3.3,.569,...,.737,0.8,2.2,3.0,0.3,0.3,0.2,0.5,1.2,4.4
676,Ivica Zubac,C,22.0,LAC,72.0,70.0,18.4,3.3,5.3,.613,...,.747,2.7,4.8,7.5,1.1,0.2,0.9,0.8,2.3,8.3

In [6]:
df3 = pd.read_csv('Resources/NBA_Season_Data.csv')
df3

,Year,Tm,Player,Age,G,MP,PER,TS%,3PAr,FTr,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,1999,NJN,Gheorghe Muresan,27,1,1,-90.6,0.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,IND,Shayne Whittington,24,1,2,-64.6,0.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1979,DET,Ron Behagen,28,1,1,-60.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,CLE,Larry Robinson,33,1,1,-54.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006,DEN,Nene Hilario,23,1,3,-54.4,0.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17258,1991,PHO,Ian Lockhart,23,1,2,76.3,1.064,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17259,2008,HOU,Gerald Green,22,1,4,76.3,1.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17260,2009,OKC,Steven Hill,23,1,2,88.3,1.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17261,2005,NYK,Jackie Butler,19,3,5,90.3,1.025,0.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17262,2014,MIA,DeAndre Liggins,25,1,1,129.1,1.000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2.dtypes

Player     object
Pos        object
Age       float64
Tm         object
G         float64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%        object
3P        float64
3PA       float64
3P%        object
2P        float64
2PA       float64
2P%        object
eFG%       object
FT        float64
FTA       float64
FT%        object
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object